/DonateCraft/target
/DonateCraft/.idea
/DonateCraftNode/node_modules/
/DonateCraftNode/.idea
/DonateCraftNode/.env
/DonateCraftNode/build
/DonateCraftNG/dist/
/DonateCraftNG/.idea
/DonateCraftNG/node_modules/
/.idea
