.modal-content {
  background: none;
  border: none;
}

.modal-content, .modal-body {
  border-radius: 3%;
  text-align: center;
  font-size: 20px;
}

.modal-backdrop {
  background-color: #d4d4d4;
}

.success-modal {
  background-color: #9be69b;
}

.error-modal {
  background-color: #ef6b6b;
}

.warning-modal {
  background-color: #ffc107;
}

.donate-body, .donate-header  {
  background-color: white;
  border-radius: 0;
  border-left: 1px solid #676666;
  border-right: 1px solid #676666;
}

.donate-body {
  border-bottom: 1px solid #676666;
}

.donate-header {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border-bottom: 1px solid #676666;
  border-top: 1px solid #676666;
}

.error-try-again {
  color: black;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.player-choice {
  display: flex;
}

.player-choice ul {
  list-style-type: none;
  padding-left: 0;
}

.player-choice ul li {
  text-align: left;
  padding: 1%;
}

.player-choice-image {
  max-height: 20%;
  max-width: 20%;
}

.player-record:hover {
  background-color: #2fa6fbc7;
  cursor: pointer;
}
