<div>
  <table class="table table-striped table-bordered table-hover h-100">
    <tbody class="h-100">
    <tr *ngFor="let charity of charities" class="charity-row h-100">
      <td class="h-100 charity-image-td">
        <div class="charity-image h-100">
          <img src="{{charity.logoAbsoluteUrl}}" class="charity-image"
               alt="Could not load image, has the charity set one?"/>
        </div>
      <td>
        <div class="charity-info-wrapper">
          <span class="charity-info charity-name">{{ charity.name }}</span>
          <span class="charity-info charity-description"> {{ charity.description }}</span>
          <button class="btn btn-success charity-donate charity-info" (click)="onJGClick(charity)">Donate</button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <div id="loader" *ngIf="!finishedLoading"></div>
  <app-modal #modal></app-modal>
</div>
