.death-row {
  font-size: 64px;
}

.death-status {
  vertical-align: middle;
  text-align: center;
  font-size: 24px;
}

.death-status.alive {
  color: green;
}

.death-status.dead {
  color: red;
  font-weight: bold;
}

.death-count, .donation-count {
  vertical-align: middle;
  text-align: center;
}

.death-table-header {
  text-align: center;
}

.last-death-reason {
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.centre-text {
  display: flex;
  align-items: center;
}
