.death-row {
  font-size: 64px;
}

.death-table-header {
  text-align: center;
}

.last-death-reason {
  font-size: 32px;
  display: flex;
  align-items: center;
}

.centre-text {
  display: flex;
  align-items: center;
}
