<div class="table-responsive">
  <table *ngIf="players" class="table table-striped table-bordered table-hover h-100">
    <thead>
    <tr>
      <th scope="col" class="death-table-header">Player</th>
      <th scope="col" class="death-table-header">Last death reason</th>
      <th scope="col" class="death-table-header">Current status</th>
      <th scope="col" class="death-table-header">Deaths</th>
      <th scope="col" class="death-table-header">Donation total</th>
    </tr>
    </thead>
    <tbody class="h-100">
    <tr scope="row" *ngFor="let player of players" class="death-row h-100">
      <td class="h-100"><img src='https://crafatar.com/avatars/{{ player.uuid}}'/><span> {{ player.name }}</span></td>
      <td class="last-death-reason h-100"><span>{{getMostRecentDeathForUser(player.deaths)}}</span></td>
      <td *ngIf="getPlayerStatusFromAvailableLocks(player) === 'Alive'" class="death-status alive h-100">Alive</td>
      <td *ngIf="getPlayerStatusFromAvailableLocks(player) === 'Dead'" class="death-status dead h-100"><span>Dead</span>
        <button class="btn btn-success" (click)="this.modal.showDonateModal(player.uuid, players)">Donate?</button>
      </td>
      <td class="h-100 death-count"><span>{{ player.deaths?.length }}</span></td>
      <td class="h-100 donation-count"><span>£{{ getTotalDonationsForPlayer(player, player.donations)}}</span></td>
    </tr>
    </tbody>
  </table>
  <app-modal #modal></app-modal>
</div>
